*{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.side {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    flex: 1;
}

input{
    width: 200px;
    height: 100px;
    border-radius: 5%;
    display: block;
    margin-bottom: 15px;
}

button:hover{
    background-color:aqua;
}

button{
    margin-left: 35px;
    background-color: greenyellow;
    cursor: pointer;
    padding: 5px 10px;
}

body {
    background-image: url('https://img2.wallspic.com/previews/9/3/7/5/1/115739/115739-caricatura-arte-artes_creativas-personaje_de_ficcion-ilustracion-x750.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
}
